<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<header class="bg-black text-yellow-500 p-4 flex flex-col">
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <img alt="AA" class="h-10 w-10 mr-2" height="50" src="https://ik.imagekit.io/yaeed3jhi/Picsart_25-02-08_21-13-53-074.png?updatedAt=1741186239202" width="50"/>
            <h1 class="text-2xl font-bold">Audit Avengers</h1>
        </div>
        <!-- Hamburger Menu (for Mobile) -->
        <div class="md:hidden block">
            <button class="text-2xl cursor-pointer" onclick="toggleMenu()">☰</button>
        </div>

        <!-- Desktop Navigation -->
        <nav class="hidden md:flex space-x-2">
            <ul class="nav-links flex space-x-4">
                <li><a class="text-yellow-500 hover:text-yellow-300 mr-5" href="/">Home</a></li>
            </ul>
        </nav>
    </div>
<div class="border-t-2 border-yellow-500 mt-2"></div>
</header>
<body class="bg-black text-white">
    <div class="container mx-auto p-4" >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4" id="card">
            <!-- Card 1 -->
        </div>
    </div>
    <script src="/static/java/auditcard.js"></script>

</body>
</html>